body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 48px;
}

h4{
    font-size: 24px;
}

div {
    text-align: center;
}

.seccion_1{
    padding-bottom: 50px;
}

.seccion_2{
    padding-top: 50px;
}

button {
    display: block;
    border-radius: 60px;
    background-color: rgb(19, 116, 212);
    margin: 0 auto;
    color: white;
    padding: 10px 20px;
}

a {
    display: block;
    margin: 10px 0;
}

.orange{
    color: orange;
}

.blue{
    color: blue;
}

.link{
    text-decoration: none;
}

.full-width {
    width: 100%;
}

#id {

}

img.full-width {
    padding-top: 30px;
}
